button:nth-child(1) {
  background-color: IndianRed;
  color: white;
  width: 110px;
  height: 110px;
  margin: 8px;
  border-radius: 110px;
  animation: pulse 1.5s infinite;
}
button:nth-child(2) {
  background-color: LightSeaGreen;
  color: white;
  width: 110px;
  height: 110px;
  margin: 8px;
  border-radius: 110px;
  animation: pulse 1.5s infinite;
}
button:nth-child(3) {
  background-color: #dccc2b;
  color: white;
  width: 110px;
  height: 110px;
  margin: 8px;
  border-radius: 110px;
  animation: pulse 1.5s infinite;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: antiquewhite;
}
